{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "_contexts": "./src/contexts",
          "_configs": "./src/config",
          "_models": "./src/models",
          "_utils": "./src/utils"
        }
      }
    ]
  ]
}
